@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Playfair Display';
}

p {
    font-family: Roboto;
}
/*
header {
    background-color: #1a83a3;
    color: white;
}
*/

.header::before {
    content: '';
    position: absolute;
    top: -40%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a83a3;
    transform-origin: bottom left;
    transform: skewY(-30deg); /* Set the initial slant angle */
    z-index: -1;
  }

.header-img-container {
    max-width: 85%;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /*padding: 20px;*/
}

.header-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.header-img-text-overlay {
    position: absolute;
    top: 60%;
    /*left: 10%;*/
    text-align: center;
    width: 300px;
    height: auto;
    color: white;
}

.header-img-text-overlay h2 {
    font-size: 3em;
}

header {
    text-align: center;
}

header>p {
    padding: 10px;
}

h1 {
    text-align: center;
}

.header-icons {
    display: inline-block;
    margin: auto;
}

footer {
    background-color: #1a83a3;
    color: white;
}

.portfolio {
    margin-top: 100px;
    margin-bottom: 100px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 350px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
    margin: 20px auto;
}

.img-container {
    background-color: rgb(168, 71, 71);
    width: 300px;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
}

.card-info {
    padding: 10px 20px;
}

.card-title {
    display: flex;
    justify-content: space-between;
}

.card-icon {
    width: 24px;
    height: auto;
}

.card p {
    padding-top: 20px;
}

footer h1 {
    padding: 10px;
}

footer p {
    padding: 10px;
}

.footer-icons {
    display: flex;
}

.link-icon {
    width: 48px;
    height: auto;
}

footer {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

footer>p {
    text-align: left;
}

.footer-icons {
    display: inline-block;
    margin: auto;
}

.footer-img-container {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 50px;
}

.footer-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}